.homepage {
    text-align: center;
    padding: 100px 40px;
    h1 {
        font-size: 5.0rem;
        color: #343a40;
    }
    p {
        font-size: 18px; 
        color: '#6c757d'; 
        
    }
}